-i https://pypi.org/simple
certifi==2024.6.2 ; python_version >= '3.6'
charset-normalizer==3.3.2 ; python_full_version >= '3.7.0'
idna==3.7 ; python_version >= '3.5'
iniconfig==2.0.0 ; python_version >= '3.7'
packaging==24.1 ; python_version >= '3.8'
pluggy==1.5.0 ; python_version >= '3.8'
pytest==8.2.2
pytest-env==1.1.3
pytest-mock==3.14.0
requests==2.32.3
urllib3==2.2.1 ; python_version >= '3.8'
